* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.input__name {
  padding: 8px 10px;
  width: 190px;
  border-radius: 10px;
  border: 1px solid gray;
}
.select_box {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
.search__button {
  padding: 8px 10px;
  /* width: 70px; */
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  background-color: rgb(96, 96, 236);
  color: white;
}
.button__mark {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: rgb(202, 30, 30);
  border: none;
  /* transition: background-color 1s ease-in-out;  */
  color: white;
}
.hi {
  margin-left: 10px;
}

.button__mark:hover {
  background-color: red;
}
.search__button:hover {
  background-color: rgb(59, 59, 231);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 20%; */
}
.select__button {
  padding: 8px 10px;
  border-radius: 10px;
  /* margin-left: 10px; */
  background-color: rgb(19, 182, 19);
  border: none;
  color: white;
  /* margin-bottom: 30px; */
}
.select__button:hover {
  background-color: rgb(20, 126, 20);
  color: white;
}
.loading_message {
  color: rgb(245, 43, 43);
}
.searchNam {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

h4 {
  margin-bottom: 15px;
  margin-top: 20px;

  color: rgb(248, 39, 73);
  text-decoration: underline;
}
.update_text {
  margin-top: 0px;
}
.search__data {
  margin-top: 120px;
}
.search__data_field {
  margin-top: 40px;
}

.dataHead {
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
  color: white;
  /* text-decoration: underline; */
}
.dataHead_sec {
  text-align: center;
  font-weight: 600;
  color: white;
}
.dataHeadSearch {
  text-align: center;
  font-weight: 600;
  color: #20428d;
}
.fetching__data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.form__content {
  padding-bottom: 0% !important;
}
.input_search {
  /* margin-bottom: 40px; */
}
.odm {
  /* background-image: url("./assets/Img/BackImg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* background-attachment: fixed; */
  /* min-height: 100vh; Ensures it covers the full viewport height  */
}
.belowImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px 0; */
  padding-top: 50px;
  padding-bottom: 20px;
}

.belowImage > img {
  max-width: 100%;
  height: auto;
  width: 700px;
  max-height: 700px;
  object-fit: contain;
}
.select__box {
  margin-bottom: 30px;
  margin-left: 10px;
}
/* .imn {
  border: 1.6px solid rgb(214, 213, 213);
  padding: 20px 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
} */

.imn {
  background-color: #5b2b73;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;

  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.6),
    0 0 18px rgba(255, 255, 255, 0.08);
  color: #fff;
}

.btn_Select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_footer {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_content > img {
  width: 110px;
}

.PoweredBy {
  font-weight: bold;
  /* position: relative; */
  text-align: center;
  color: white;
  top: 0px;
  font-size: 15px;
}
.imn {
  color: white;
}

.belowImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px 30px; */
  /* padding: 30px 0; */
  /* padding-top: 30px; */
  /* padding-bottom: 20px; */
}

.belowImage > img {
  max-width: 100%;
  height: auto;
  width: 600px;
  max-height: 600px;
  object-fit: contain;
}

/* Button */

/* Base tab button */
.select__button {
  background-color: #e2688f;
  /* border: 2px solid #e2688f; */
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.25s ease;
}

/* Active tab */
.select__button.active_tab {
  background-color: #d12c61;
  border: 1.3px solid #fff;
  color: #fff;
}

/* Hover effect */
.select__button:hover {
  background-color: #d12c61;
  color: white;
}

@media (max-width: 720px) {
  .belowImage {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .search__button {
    margin-top: 15px;
  }
  .footer_content > img {
    width: 90px;
  }
  .search__data {
    margin-top: 100px;
  }
  .search__data_field {
    margin-top: 40px;
  }

  /* .belowImage > img {
    width: 300px;
    max-height: 300px;
  } */
}
